@import url("tumi.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #471871;
  background: linear-gradient(in hsl to bottom, #471871, #142151);
  background: var(--background-method);
  color: white;
  font-family: 'Poppins', sans-serif;
}

main {
  margin: auto;
  max-width: 500px;
}

section {
  margin-bottom: 2rem;
}

h1,
h2,
h3 {
  margin: .5em;
}

h1 {
  width: max-content;
  margin: 1em auto .5em auto;
}

ol.progress {
  margin: auto;
  width: 20rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-bottom: 2rem;
  scroll-snap-type: x mandatory;

  li {
    width: 100%;
    flex-shrink: 0;
    border-radius: 8px;
    list-style-position: inside; 
    background-color: green;
    padding: .5rem 1rem;
    scroll-snap-align: start;
  }
}

.story-options {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  min-width: 100%;
  list-style: none;
  padding: 0 1rem .5rem 1rem;

  li:has(a) {
    margin-left: auto;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  button {
    appearance: none;
    color: black;
    background-color: white;
    padding: .5em;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }

}

.card-vertical,
.card-horizontal {
  display: grid;
  background-color: white;
  color: black;
  list-style: none;
  border-radius: 8px;
}

.card-vertical {
  display: grid;
  height: 18rem;
  width: 12rem;
  padding: 1rem;

  img {
    height: 9rem;
    aspect-ratio: 1 / 1;
    max-height: 9rem;
    object-fit: cover;
    border-radius: 5px;
  }

  h3 {
    margin: 0;
    max-width: 100%;
    text-wrap: balance;
    height: 2lh;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
  }

  &:first-of-type {
    margin-left: 1rem;
  }
}

.card-horizontal {
  width: 22rem;
  max-width: 90vw;
  height: 6rem;
  padding: .5rem;

  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: .5rem;

  scroll-snap-align: start;

  &:nth-child(-n + 3) {
    margin-left: 1rem;
  }

  img {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
    align-content: end;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.list-horizontal,
.list-grid {
  scrollbar-width: none;
  gap: .5rem;
}

.list-horizontal {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

}

.list-grid {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 1rem;
}