@import url("tumi.css");

/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #471871;
  background: linear-gradient(in hsl to bottom, #471871, #142151);
  background: var(--background-method);
  color: white;
  font-family: 'Poppins', sans-serif;
}

main {
  margin: auto;
  max-width: 500px;
}

section {
  margin-bottom: 2rem;
}

h1,
h2,
h3 {
  margin: .5em;
}

h1 {
  width: max-content;
  margin: 1em auto .5em auto;
}

p {
  margin-inline: 1em;
}

nav {
  max-width: 90dvw;
  margin: auto;
}

/* Progress */
ol.progress {
  margin: auto;
  width: 20rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-bottom: 2rem;
  scroll-snap-type: x mandatory;

  li {
    width: 100%;
    flex-shrink: 0;
    border-radius: 8px;
    list-style-position: inside;
    background-color: green;
    padding: .5rem 1rem;
    scroll-snap-align: start;
  }
}

/* Story options: language selector, show all */
.story-options {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  min-width: 100%;
  list-style: none;
  padding: 0 1rem .5rem 1rem;
  align-items: center;

  li:has(a) {
    margin-left: auto;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  button {
    appearance: none;
    color: black;
    background-color: white;
    padding: .5em;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }
}

/* Story/playlist cards */
.card-vertical,
.card-horizontal {
  display: grid;
  background-color: white;
  color: black;
  list-style: none;
  border-radius: 8px;

  p {
    margin: 0;
  }
}

.card-vertical {
  display: grid;
  height: 18rem;
  width: 12rem;
  padding: 1rem;

  img {
    height: 9rem;
    aspect-ratio: 1 / 1;
    max-height: 9rem;
    object-fit: cover;
    border-radius: 5px;
  }

  h3 {
    margin: 0;
    max-width: 100%;
    text-wrap: balance;
    height: 2lh;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    align-content: center;
  }

  &:first-of-type {
    margin-left: 1rem;
  }
}

.card-horizontal {
  width: 22rem;
  max-width: 90vw;
  height: 6rem;
  padding: .5rem;

  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: .5rem;

  scroll-snap-align: start;

  img {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
    align-content: end;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

/* Horizontal and grid-style lists */
.list-horizontal,
.list-grid {
  scrollbar-width: none;
  gap: .5rem;
}

.list-horizontal {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.list-grid {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 1rem;

  .card-horizontal:nth-child(-n + 3) {
    margin-left: 1rem;
  }
}

/* SEARCHBOX */
.searchbox {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.searchbox label {
  height: 2em;
  display: grid;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.searchbox input {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  appearance: none;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: .8em;
  align-self: center;
}

.searchbox span {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  color: rgba(0, 0, 0, 0.6);
  transition: all .25s;
  margin-left: .5em;
  align-self: center;
}

.searchbox input:focus+span,
.searchbox input:not(:placeholder-shown)+span {
  color: rgba(0, 0, 0, 0);
}

.searchbox button {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  appearance: none;
  background-color: transparent;
  border: none;
  padding: .5em;
  border-left: 1px solid rgba(0, 0, 0, 0.6);

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
  }

  >img {
    height: 1.5em;
  }
}

/* FILTERS */
.filters {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 1rem auto;
}

.details-top-level {
  color: white;
  background-color: #8654F3;
  border-radius: 5px;
  margin: .5em auto;
  max-width: 90dvw;
}

.summary-top-level {
  color: white;
  padding: .5em;
  font-weight: bold;
  letter-spacing: 0.025em;
}

.menu-filter {
  background-color: #8654F3;
  padding: .5em 1em;
  border-radius: 5px;

  button {
    appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1rem;
    font-family: 'poppins';
    width: 100%;
    text-align: left;

    &:hover {
      cursor: pointer;
    }
  }

  summary {
    font-weight: bold;
  }
}

.options {
  margin: .5em 0;
}

.options li {
  list-style: none;
  margin-left: 1em;
  line-height: 2em;

  a {
    color: white;
    text-decoration: none;
  }
}

/* ALL STORIES */
.list-vertical {
  margin-top: 1.5em;
  align-items: center;

  .card-horizontal {
    width: 100%;
    list-style: none;
    border-radius: 10px;
    padding: .5em;
    margin: .5em auto;
    background-color: white;
    max-width: min(90dvw, 500px);
    height: 6rem;
  }
}

.list-vertical li {
  margin: .5em 0;

  h2 {
    font-size: 1rem;
    align-self: flex-end;
  }

  >img {
    height: 100%;
    padding: .25em;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .buttons {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-self: flex-end;
    gap: 1em;
  }

  .hidden {
    display: none;
  }

  .button-image {
    appearance: none;
    border: none;
    background-color: transparent;

    >img {
      height: 2em;
    }

    .button-add {
      transform: rotateZ(45deg);
    }
  }
}

.test {
  opacity: 0.5;
}